.icon-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 2px;
  border: none;
  background: none;
  cursor: pointer;
}
