.backdrop {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.modal {
  --modal-width: 60vw;
  --modal-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: calc(calc(100vw - min(500px, var(--modal-width))) / 2);
  top: calc(calc(100vh - var(--modal-height)) / 2);
  z-index: 2;
}
.modal-container {
  width: var(--modal-width);
  max-width: 500px;
  height: var(--modal-height);
  max-height: var(--modal-height);
  border-radius: 20px;
  border: 1px solid var(--input-bg-color);
  background-color: var(--color-white);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  margin-bottom: 16px;
}

.modal-content {
  height: calc(var(--modal-height) - 80px);
}