.user-pool-row {
  display: grid;
  grid-template-columns: var(--item-template);
  padding: var(--row-padding);
  gap: 1em;
  font-weight: 600;
}

.user-pool-row--remove {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-pool-row--icon {
  border-radius: 50%;
}

.user-pool-row--icon:hover {
  fill: var(--color-white);
}
