.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container.invalid > .input {
  color: var(--color-error);
}

.input {
  width: 100%;
  min-width: 120px;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--input-bg-color);
  outline: none;
  border: none;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input.left {
  text-align: left;
}
