.token-input {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: var(--input-bg-color);
  z-index: 1;
}

.token-input-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.token-input .input {
  padding: 0;
  font-size: 28px;
  border-radius: 0;
}

.token-input-container--input {
  width: 0;
  min-width: 120px;
  flex: 1 1 auto;
}

.token-input--info {
  padding: 0 1rem 1rem;
  color: var(--color-grey);
}

.token-input--info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

