.button {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--main-bg-color);
  border-radius: 20px;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--main-bg-color-hover);
}

.button:disabled {
  background-color: var(--disabled-bg-color);
  color: var(--color-disabled);
  opacity: 0.5;
  cursor: auto;
}

.button--label {
  font-size: inherit;
  color: inherit;
}