.list {
  padding-bottom: 10px;
  overflow: auto;
  border-top: 1px solid var(--hover-bg-color);
}

.list--header {
  display: grid;
  grid-template-columns: var(--item-template);
  gap: 1em;
  margin-top: 12px;
  font-weight: 600;
}

.list--header div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--main-bg-color);
}

.list--header > div:not(:first-child) {
  justify-content: flex-end;
}
