.workspace-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2px;
  margin-bottom: 12px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 8px 12px;
  border-radius: 16px;
  cursor: pointer;
  font-size: var(--font-size-sm);
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  color: var(--main-bg-color);
}

.link:hover:not(.active):not(.disabled) {
  color: var(--color-black);
}

.link.active {
  color: var(--color-white);
  background-color: var(--main-bg-color);
}

.link svg:hover {
  fill: var(--color-grey);
}
