.list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 20px;
  height: 50px;
}

.list-item:hover {
  cursor: pointer;
  background-color: var(--hover-bg-color);
}

.list-item .image {
  margin-right: 12px;
}

.list-item--disabled {
  pointer-events: none;
  opacity: 0.5;
}

.list-item--disabled:hover {
  cursor: auto;
}
