.pool-list {
  border-top: 1px solid var(--hover-bg-color);
}

.pool-list--header {
  display: grid;
  grid-template-columns: 5fr repeat(1, 1fr) 24px;
  gap: 1em;
  padding: 0 12px;
  margin-top: 12px;
  font-size: var(--font-size-xxs);
  font-weight: 600;
}

.pool-list--header div {
  color: var(--main-bg-color);
}