.statistics {
  --item-template: 3.5fr repeat(3, 1fr);
  max-height: 700px;
  overflow: auto;
}

.statistics .list--header {
  padding: 0 12px 8px 12px;
  font-size: var(--font-size-xxs);
}

.statistics .list-item:hover {
  cursor: auto;
  background-color: initial;
}

@media screen and (max-width: 900px) {
  .statistics .list--header,
  .statistics .pool-row {
    --item-template: 1.5fr repeat(2, 1fr);
  }

  .statistics .pool-row > div:last-child,
  .statistics .list--header > div:last-child {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .statistics .list--header,
  .statistics .pool-row {
    --item-template: 2.5fr repeat(1, 1fr);
  }

  .statistics .pool-row > div:nth-child(2),
  .statistics .list--header > div:nth-child(2) {
    display: none;
  }
}
