.pool-row {
  display: grid;
  grid-template-columns: 5fr repeat(1, 1fr) 24px;
  padding: 0 12px;
  gap: 1em;
  font-weight: 600;
}

.pool-row--name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pool-row--name > .image {
  width: 18px;
  height: 18px;
  margin-right: 1px;
}

.pool-row--name > div {
  margin-left: 8px;
}

.pool-row--remove {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pool-row--icon {
  border-radius: 50%;
}

.pool-row--icon:hover {
  fill: var(--color-white);
}
