.workspace {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
}

.workspace-container {
  display: flex;
  flex-direction: column;
  width: min(50%, 500px);
  /*background-color: rgb(238, 234, 244);*/
  /*background-color: #303757;*/
  box-shadow: 0 6px 12px #00000026;
}

.workspace-container {
  border-radius: 16px;
  border: 1px solid rgb(237, 238, 242);
}
