.workspace {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
}

.workspace-container {
  display: flex;
  flex-direction: column;
  width: min(50%, var(--workspace-width));
  border-radius: 16px;
  border: 1px solid rgb(237, 238, 242);
  box-shadow: 0 6px 12px #00000026;
}

.stats.workspace-container {
  --workspace-width: 900px;
}
